$_darkest : #111517;
$_darkblue : #1A2124;
$_darkishblue: #232D30;
$_greyblue : #344449;
$_taintedblue : #465C62;
$_eggshellblue : #95A09B;
$_eggshell : #E4E3D3;
$_oldrose : #CC7178;

@import '../fonts/fonts.css';

html{
    scroll-behavior: smooth;
}

body{
    background-color: $_oldrose;
    min-height: 150vh;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;


    .landing-div{
        pointer-events: auto;
        position: relative;
        height: 100vh;
        width: 100%;
        padding: 0%;
        margin: 0%;
        canvas{
            position: absolute;
            pointer-events: auto;
            background: linear-gradient(115deg, rgba(black, .1), rgba(black, .1)),
                        linear-gradient(115deg, rgba($_oldrose, 1), rgba($_oldrose, 1));
            width: 100%;
            height: 100vh;
            margin: 0%;
            padding: 0%;
            top:0;
            left:0;
            z-index: 100;
        }
        .landing-text{
            pointer-events: inherit;
            position: absolute;
            //background-color: rgba(black, .4);
            width: 70%;
            height: 50vh;
            margin: 0%;
            padding: 0%;
            top:20%;
            left:10%;
            z-index: 1000;
            h1{
                font-family: 'Advent_Pro';
                font-weight: 800;
                text-align: center;
                background-color: (rgba(#111517, .8));
                color: (rgba($_oldrose,.6));
                min-width: 320px;
                width: 40%;
                height: 50%;
                padding: 0%;
                font-size: 60px;
                margin: 0;
            }
            h2{
                font-family: 'Inconsolata';
                font-weight: 200;
                transition-duration: .6s;
                margin-top: 6px;
                font-size: 36px;
                border-left: 1px solid black; 
                padding-left: 1em;
                width: fit-content;
                padding-right: 1em;
                &:hover{
                    //border-left: 1px solid red;
                    color: (rgba($_oldrose,.6));
                    background-color: (rgba(#111517, .8));
                }
            }
            i{
                position: absolute;
                bottom: -10%;
                right: 10%;
                align-self: center;
                font-size: 100px;
                font-stretch: 200px;
            }
        }
    }

    .nav-bar{
        background-color: rgba(black, .7);
        width: 100%;
        height: 30px;
        position: sticky;
        margin: 0%;
        top: 0;
        transition-duration: .3s;
        color: $_eggshell;
        &:hover{
            color: rgba($_eggshell, .6);
        }
        a{
            display: inline-block;
            margin: 0%;
            height: 100%;
            width: 100px;
            color: inherit;
            padding: 0%;
            &.section-link{
                text-transform: lowercase;
                float: left;
                text-decoration: none;
                &:first-child{
                    border-left: none;
                }
            }
            &.outer-link{
                text-transform: lowercase;
                float: right;
                text-decoration: none;
                text-align: center;
            }

            &:hover{
                color: $_eggshell
            }

            p{
                font-family: 'Inconsolata';
                font-weight: 100;
                text-align: center;
                margin: 0%;
                margin-top: 7px;
                height:100%;
                width: 100%;
            }
            i{
                padding-top: 7px;
                height: 100%;
                width: 100%;
                margin: 0%;
                margin-top: 7px;
                text-align: center;
            }
        }
    }
    .content-body{
        background-image: linear-gradient(rgba($_darkblue, 1), rgba($_darkblue, 1));
        width: 100%;
        margin: 0%;
        section{
            min-height: 100vh;
            max-height: 100vh;
            height: 100vh;
            width: 100%;
            display: grid;
            $row_3: calc(90% - 3em);
            grid-template-rows: 3em 2em $row_3;
            grid-template-columns: 50% 25% 25%;
            h1{
                grid-row: 2;
                grid-column: 1;
                margin: 0%;
                margin-left: 2em;
                font-family: 'Inconsolata';
                color: $_eggshell;
            }
            .text-box{
                grid-row: 3;
                grid-column-start: 1;
                grid-column-end: span 3;
                margin: auto;
                height: 80%;
                width: 70%;
                //background-color: rgba(white, .1);
                //border-left: .25em solid $_oldrose;

                &-about{
                    grid-row: 3;
                    grid-column-start: 1;
                    grid-column-end: span 3;
                    margin: auto;
                    height: 80%;
                    width: 30%;
                    min-width: 480px;
                    background-color: #111517;
                    border-radius: 35%;
                    p{
                        margin: 25% 0;
                        padding: 12px;
                        font-family: 'Inconsolata';
                        color: $_eggshell;
                    }
                }
                &-left{
                    grid-row: 3;
                    grid-column: 1;
                    margin: auto;
                    height: 80%;
                    width: 80%;
                    //background-color: rgba(white, .1);
                    //border-left: .25em solid $_oldrose;
                    //border-right: .25em solid $_eggshell;
                    display: grid;
                    grid-template-columns: calc(100%/3.5) calc(100%/3.5) calc(100%/3.5);
                    grid-gap: 20px 2em;
                    grid-template-rows: 12em;
                    
                    div{
                        //background-color: yellow;
                        h1{
                            //text-align: left;
                            //background-color: purple;
                            //border-style: dotted;
                            position: relative;
                            top: 0;
                            left: 0;
                            margin: 25% auto;
                            padding: 0;
                            width: 90%;
                            height: 50%;
                        }
                        img{
                            padding: 0% 5%;
                            width: 90%;
                            overflow: visible;
                            height: 90%;
                            object-fit: contain;
                            border-radius: 15% 30%;
                            background-color: $_darkest;
                            background-size: 100% 12em;
                            margin: auto;
                            //border-color: red;
                            //border-style: dotted;
                        }
                        p{
                            //background-color: lightgreen;
                            margin: auto;
                            padding: 0%;
                            text-align: center;
                            width: 100%;
                            font-family: 'Inconsolata';
                            color: $_eggshell;
                            font-size: 1em;
                        }
                    }

                    h1{
                        margin-top: 20px;
                    }

                    p{
                        margin: 0;
                        padding: 12px;
                        font-family: 'Inconsolata';
                        color: $_eggshell;
                    }
                }
                &-right{
                    grid-row: 3;
                    grid-column-start: 2;
                    grid-column-end: span 3;
                    margin: auto;
                    height: 80%;
                    width: 80%;
                    //background-color: rgba(white, .1);
                    //border-right: .25em solid $_oldrose;
                    //border-left: .25em solid $_oldrose;
                    display: grid;
                    grid-template-columns: calc(100%/3.5) calc(100%/3.5) calc(100%/3.5);
                    grid-gap: 20px 2em;
                    grid-template-rows: 12em;
                    
                    div{
                        //background-color: yellow;
                        h1{
                            //text-align: left;
                            //background-color: purple;
                            //border-style: dotted;
                            position: relative;
                            top: 0;
                            left: 0;
                            margin: 25% auto;
                            padding: 0;
                            width: 90%;
                            height: 50%;
                        }
                        img{
                            padding: 0% 5%;
                            width: 90%;
                            overflow: visible;
                            height: 90%;
                            object-fit: contain;
                            border-radius: 15% 30%;
                            background-color: $_darkest;
                            background-size: 100% 12em;
                            margin: auto;
                            //border-color: red;
                            //border-style: dotted;
                        }
                        p{
                            //background-color: lightgreen;
                            margin: auto;
                            padding: 0%;
                            text-align: center;
                            width: 100%;
                            font-family: 'Inconsolata';
                            color: $_eggshell;
                            font-size: 1em;
                        }
                    }
                    
                    h1{
                        margin-top: 20px;
                    }
                    
                    p{
                        margin: 0;
                        padding: 12px;
                        font-family: 'Inconsolata';
                        color: $_eggshell;
                    }
                }
                p{
                    margin: 0;
                    padding: 12px;
                    font-family: 'Inconsolata';
                    color: $_eggshell;
                }
            }
            .emblems-div{
                grid-column: 3;
                grid-row: 3;
                height: 80%;
                width: 80%;
                margin: auto;
                img{
                    width: auto;
                    display: block;
                    height: 35%;
                    margin-left: auto;
                    margin-right: auto;
                    &:hover{
                        transition-duration: .2s;
                        transform: scale(1.05);
                    }
                }
                p{
                    margin: 0;
                    padding: 12px;
                    font-size: 12px;
                    font-family: 'Inconsolata';
                    margin: auto;
                    color: $_eggshell;
                    text-align: center;
                }
            }
            .table-div{
                grid-column-start: 1;
                grid-column-end: span 2;
                grid-row: 3;
                width: 80%;
                height: 95%;
                overflow:auto;       
                margin: auto;         
                table{
                    color: $_eggshell;
                    height: 100%;
                    width: 100%;
                    background-color: $_darkblue;
                    border-collapse: collapse;
                    tr{
                        color: inherit;
                        height: auto;
                        width: auto;
                        &:nth-child(even){
                            background-color: $_darkblue;
                        }
                        &:nth-child(odd){
                            background-color: $_darkest;
                        }
                        td{
                            width: 100%;
                            padding-right: 1em;

                            div{
                                width: 100%;
                                height: 100%;
                                display: grid;
                                grid-template-columns: 50% 50%;
                                
                                .left{
                                    grid-column: 1;
                                    width: auto;
                                    height: 100%;
                                    //background-color: green;
                                    grid-template-rows: 35% 65%;
                                    margin: 0;

                                    a{
                                        //margin: 0;
                                        //font-size: 12px;
                                        font-family: 'Inconsolata';
                                        //margin: auto;
                                        color: $_eggshell;
                                        //text-align: center;
                                        &:hover{
                                            color: $_oldrose;
                                        }
                                    }

                                    p{
                                        grid-row: 2;
                                        width: 150%;
                                        margin-left: 20%;
                                        padding-right: 15%;
                                        margin-top: 0;
                                        overflow: auto;
                                    }

                                    h1{
                                        width: 150%;
                                        grid-row: 1;
                                        margin-top: 15%;
                                        margin-left: 10%;
                                        text-align: center;
                                    }

                                }

                                .right{
                                    grid-column: 2;
                                    width: 100%;
                                    //height: 100%;
                                    min-height: 520px;
                                    a{
                                        margin: auto;
                                        img{
                                            width: 200%;
                                            display: block;
                                            height: auto;
                                            margin: auto;
                                        }
                                    }
                                    img{
                                        width: 200%;
                                        display: block;
                                        height: auto;
                                        margin: auto;
                                        &:hover{
                                            transition-duration: .2s;
                                            transform: scale(1.05);
                                        }
                                    }

                                    iframe{
                                        margin: auto;
                                        height: 100%;
                                        width: 200%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
